<form th:action="@{/api/usrmgmnt/v1/akses/new}" th:object = "${akses}" method="POST" id="buatAkses"><!--	ID FORM TIDAK BOLEH SAMA DENGAN ID MODALS DI FRAGMENT -->
	<input type="hidden" value="01f73a018521072a3942d08ae4eac020" /><!-- form generate id security of front end -->

	<div th:if="${#fields.hasErrors('global')}" class="error-box error-danger" >
		<p th:each="err : ${#fields.errors('global')}" th:text="${err}"  class="error"/>
	</div>
	<div class ="form-group">
		<label> Nama Akses </label>
		<input
				type = "text"
				name = "namaAkses"
				th:field = "*{namaAkses}"
				class = "form-control"
				placeholder="Masukkan Nama Akses"
		/>
		<ul>
			<li th:each="err : ${#fields.errors('namaAkses')}" th:text="${err}" class="error" />
		</ul>
	</div>


	<div class ="form-group">
		<label> Divisi </label>
<!--		<select form="buatAkses" th:field="*{divisi.idDivisi}" class="form-control" name="divisi" th:object="${akses}" id="divisi">-->
		<select th:field="*{divisi.idDivisi}" class="form-control" name="divisi" th:object="${akses}" id="divisi">
			<option value="" selected="selected" disabled hidden="hidden">---pilih divisi---</option>
			<option th:each="divisi: ${listDivisi}" th:value="${divisi.idDivisi}" th:text="${divisi.namaDivisi}"></option>
		</select>
		<ul>
			<li th:each="err : ${#fields.errors('divisi')}" th:text="${err}" class="error" />
		</ul>
	</div>

	<div class ="form-group">
		<label> Menu List </label>
		<select id="listMenuAkses" name="listMenuAkses"  th:field="*{listMenuAkses}" size="10" multiple="multiple">
			<option value="" selected="selected" disabled hidden="hidden">---pilih menu---</option>
			<option th:each="menuList: ${listMenu}" th:value="${menuList.idMenu}" th:text="${menuList.namaMenu}"></option>
		</select>
	</div>

	<div class = "modal-footer">
		<button type="submit" class = "btn btn-primary">
			Submit
		</button>
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	</div>
</form>

<script th:inline="javascript">
/*<![CDATA[*/

    $("#buatAkses").submit(function(event) {
          event.preventDefault(); //prevent default action
          let post_url = $(this).attr("action"); //get form action url
          let request_method = $(this).attr("method"); //get form GET/POST method
          let form_data = $(this).serialize(); //Encode form elements for submission
          $.ajax({
              url: post_url,
              type: request_method,
              data: form_data
            }).done(function(response) { //
            let pattern = /01f73a018521072a3942d08ae4eac020/i;
			let result = response.match(pattern);
            if(result)
            {
				$("#server-results").html(response);
            }
            else
            {
				$('#addAkses').modal('hide');
				confirm("DATA BERHASIL DISIMPAN");
            }

            });
        });

/*]]>*/
</script>

